.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.smaller {
  font-size: smaller;
}
.whereami {
  border: 2px solid red !important;
}
.visible {
  visibility: visible !important;
  opacity: 1 !important;
  transition-delay: 0s !important;
}
.invisible {
  opacity: 0;
  visibility: hidden;
}
.flag {
  width: 16px;
  height: 11px;
  background: url(../images/flags.png) no-repeat;
}
.flag.flag-br {
  background-position: -16px 0;
}
.flag.flag-cn {
  background-position: -32px 0;
}
.flag.flag-de {
  background-position: -48px 0;
}
.flag.flag-dk {
  background-position: 0 -11px;
}
.flag.flag-es {
  background-position: -16px -11px;
}
.flag.flag-fi {
  background-position: -32px -11px;
}
.flag.flag-fr {
  background-position: -48px -11px;
}
.flag.flag-gb {
  background-position: 0 -22px;
}
.flag.flag-en {
  background-position: 0 -22px;
}
.flag.flag-gr {
  background-position: -16px -22px;
}
.flag.flag-it {
  background-position: -32px -22px;
}
.flag.flag-jp {
  background-position: -48px -22px;
}
.flag.flag-no {
  background-position: 0 -33px;
}
.flag.flag-ru {
  background-position: -16px -33px;
}
.flag.flag-za {
  background-position: -32px -33px;
}
@font-face {
  font-family: 'godutch';
  src: url('fonts/clarendon_std_bold.eot');
  src: url('fonts/clarendon_std_bold.eot?#iefix') format('embedded-opentype'), url('fonts/clarendon_std_bold.svg#BebasNeueRegular') format('svg'), url('fonts/clarendon_std_bold.woff') format('woff'), url('fonts/clarendon_std_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.button {
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #fff;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  padding: 0 20px;
  margin: 20px;
  background: #ea5a07;
}
body {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  font-family: 'godutch';
  color: #fff;
}
body h1 {
  font-size: 26px;
}
body h2 {
  font-size: 16px;
}
body #main_wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 1px solid green;
  background: #3e0d10;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body #main_wrapper .page {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  /* Safari */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  /* Safari and Chrome */
  position: absolute;
  left: 100%;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body #main_wrapper .page.previous {
  left: -100%;
}
body #main_wrapper .page.current {
  left: 0;
}
body #main_wrapper .page_footer {
  position: fixed;
  bottom: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000',endColorstr='#00000000',GradientType=0);
  width: 100%;
  height: 65px;
  padding-top: 15px;
  box-sizing: border-box;
}
body #main_wrapper #home .buttons button {
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #fff;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  padding: 0 20px;
  margin: 20px;
  background: #ea5a07;
}
body #main_wrapper #home .buttons #start {
  background: #ee7401;
}
body #main_wrapper #home .buttons #join {
  background: #ea5a07;
}
body #main_wrapper #home img {
  display: block;
  margin: auto;
}
body #main_wrapper #home #logo {
  margin-top: 100px;
  width: 50%;
}
body #main_wrapper #home #clog {
  margin-bottom: 30px;
  width: 50%;
}
body #main_wrapper #home #info {
  width: 30px;
}
body #main_wrapper #forms .logo {
  width: 50%;
  margin-top: 60px;
  margin-bottom: 20px;
}
body #main_wrapper #forms h1 {
  margin-bottom: 0;
}
body #main_wrapper #forms .billcode {
  color: #ea5a07;
  font-size: 50px;
}
body #main_wrapper #forms #form_add,
body #main_wrapper #forms #form_join {
  background: #3e0d10;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
}
body #main_wrapper #forms #form_add button,
body #main_wrapper #forms #form_join button {
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #fff;
  font-family: inherit;
  font-size: 20px;
  line-height: 40px;
  padding: 0 20px;
  margin: 20px;
  background: #ea5a07;
}
body #main_wrapper #forms #form_add input[type="text"],
body #main_wrapper #forms #form_join input[type="text"] {
  width: 100%;
  display: block;
  margin-bottom: 40px;
  line-height: 30px;
  height: 30px;
}
body #main_wrapper #forms #form_add input[type="text"],
body #main_wrapper #forms #form_join input[type="text"] {
  background: #140405;
  border: none;
  display: inline-block;
  width: 175px;
  margin-left: 10px;
}
body #main_wrapper #grid table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-spacing: 0;
  background: #444;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
}
body #main_wrapper #grid table td {
  border: 1px solid black;
  position: relative;
}
body #main_wrapper #grid table td label {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
body #main_wrapper #grid table td label div {
  background: blue;
  width: 100%;
  height: 100%;
}
body #main_wrapper #grid table td label div.user1 {
  background: green;
}
body #main_wrapper #grid table td label div.user2 {
  background: purple;
}
body #main_wrapper #grid table td label div.user3 {
  background: yellow;
}
body #main_wrapper #grid table td label div.user4 {
  background: red;
}
body #main_wrapper #grid table td label input {
  display: none;
}
body #main_wrapper #grid table td label input.selected + div {
  background: pink;
}
body #main_wrapper #tip {
  background: #3e0d10;
}
body #main_wrapper #tip #tip_slider {
  position: absolute;
  height: 50%;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #ea5a07;
}
body #main_wrapper #tip #tip_slider #percent {
  color: #fff;
  font-size: 70px;
  position: absolute;
  right: 0;
  top: -10px;
}
body #main_wrapper #bill {
  color: #fff;
  padding: 30px;
}
body #main_wrapper #bill .yourbill {
  font-size: 80px;
  margin-top: 100px;
}
